$pw: '.pw-pos';


#{$pw} {
    &-margin-top-regular{
        margin-top: 24px;
    }

    &-margin-top-large{
        margin-top: 60px;
    }

    &-margin-left-large{
        margin-left: 60px;
    }
}
