$pw: '.pw-contact-page';

#{$pw} {
    &-contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1400px) {
            margin-top: 10%;
        }

        &-row {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 40px;

            .pw-typo-paragraph {
                padding: 0;
                margin: 0;
            }
        }

        &-text-input-field,
        &-dropdown-field {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            &-input,
            &-select {
                min-height: 50px;
                background: #F6F6F6;
                font-size: 16px;
                padding-left: 12px;
                border: 1px solid black;
                transition: all 0.3s ease;

                &:focus {
                    background: white;
                }
            }
        }

        &-dropdown-field-select-option {
            background: black;
            color: white;
        }

        &-message-box {
            width: 100%;
            .pw-contact-page-contact-form-text-input-field {
                width: 100%;
            }
            .pw-contact-page-contact-form-text-input-field-input {
                max-width: 100%;
                height: 200px;
                background: #F6F6F6;
                font-size: 16px;
                font-family: inherit;
                padding: 10px;
                transition: none;
            }
        }
    }
}

@media (min-width: 768px) {
    #{$pw}-contact-form {
        &-row {
            flex-direction: row;
        }
        &-text-input-field,
        &-dropdown-field {
            width: 48%;
        }
    }
}

@media (max-width: 767px) {
    #{$pw}-contact-form {
        &-row {
            flex-direction: column;
        }
        &-text-input-field,
        &-dropdown-field {
            width: 100%;
        }

        .pw-contact-page-contact-form-text-input-field-input {
            width: auto;
        }

    }
}
