$pw: '.pw-error-message';
$pw-error-applied: '.pw-error-applied';

#{$pw} {
    &-text {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: red;
        animation: glitch 2s steps(1, start) infinite;
    }
}

#{$pw-error-applied} {
    border: 1px red solid;
}